11labs_test.py
app_george.py
app_one.py
app_realestate.py
audio_chunk_0.mp3
audio_chunk_1.mp3
auto_map.py
auto_script_proposed.py
auto_script.py
cache_read.py
config.ini
favicon.ico
feed_checker.py
final_output_tts_1920.mp4
how_made.html
intro.mp3
lists_twitter.py
map_folio.html
map_folio.py
map_plotly.html
map_plotly.py
map.html
ner_test.py
news_twitter_similarity.py
news_twitter.py
news.json
newsletter_cluster.html
newsletter_cluster.py
newsletter_matrix.html
newsletter_matrix.py
newsletter_test.html
newsletter.html
newsletter.txt
outro.mp3
server_map.html
similar_articles.txt
test_video.py
tts_11labs.py
weekly_script_2023-07-23.txt
__pycache__/love_letter.cpython-310.pyc
archive/
cache/
finances/
geojson_data/
images/
images/premium_map.png
love_letter/
media/
media/texts/0c24e00b0d4e6251.svg
media/texts/085ea2d2843aae70.svg
media/texts/55596d5eefb5c57e.svg
media/texts/dc2c54d7d18f4403.svg
media/texts/f4f505cdaf692124.svg
media/texts/f488449513e140a6.svg
modules/suite_config.ini
modules/__pycache__/__init__.cpython-310.pyc
modules/__pycache__/cache_files.cpython-310.pyc
modules/__pycache__/classifier.cpython-310.pyc
modules/__pycache__/errors.cpython-310.pyc
modules/__pycache__/ftp_uploader.cpython-310.pyc
modules/__pycache__/locations.cpython-310.pyc
modules/__pycache__/scraper.cpython-310.pyc
modules/__pycache__/summarizer.cpython-310.pyc
modules/__pycache__/super_summary.cpython-310.pyc
narrations/
narrations/mastered/
samples/
static/geojson_data.json
static/world_map.json
static/js/server_map.js
super_summaries/
templates/about.html
templates/backup.html
templates/darren.html
templates/estate.html
templates/home_working071423.html
templates/home.html
templates/map.html
templates/privacy.html
templates/website_backup070723.html
unused/
weekly_images/
weekly_scripts/
.venv/
modules/__pycache__/
modules/test_embeddings.py
