<!DOCTYPE html>
<html>
<head>
    <title>NewsPlanetAI Swipe News</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/swipe.css">
</head>
<body>
    <header>
        <h1>NewsPlanet Ai Mobile</h1>
        <p>Welcome to NewsPlanetAi Swipe News! Browse through the latest news headlines from various categories.</p>
    </header>
    <select id="category-select">
        <option value="">All Categories</option>
        <option value="World News">World News</option>
        <option value="US News">US News</option>
        <option value="Economy & Finance">Economy & Finance</option>
        <option value="Health & Environment">Health & Environment</option>
        <option value="Science & Research">Science & Research</option>
        <option value="Space">Space</option>
        <option value="Technology & Innovation">Technology & Innovation</option>
        <option value="Society & Culture">Society & Culture</option>
        <option value="Sports">Sports</option>
        <option value="Law & Crime">Law & Crime</option>
        <option value="Russia & Ukraine Conflict">Russia & Ukraine Conflict</option>
        </select>
    <div id="articles"></div>
    <button id="next-button">Next</button>
    <script src="../static/js/news_swipe.js"></script>
 

</body>
</html>